@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.manualOverline {
    width: 100%;
    height: 3px;
    background-color: rgb(108, 167, 199, 0.7);
}
.manualHeader {
    font-family: 'Nunito', sans-serif;
    font-size: 72px;
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgb(0, 0, 0, 0.6);
    text-shadow: 2px 2px rgba(52, 56, 54, 0.2);
    background-color: rgba(128, 187, 219, 0.7);
}
.manualMain {
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    width: 100%;
    height: 1000px;
    color: rgb(0, 0, 0, 0.6);
    background-color: rgb(108, 167, 199, 0.7);
    display: flex;
    flex-direction: column;
}
.manualMainDescription {
    display: flex;
    justify-content: center;
    align-items: center;
}
.manualMainDescriptionText {
    padding-top: 3%;
    width: 45%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    color: rgb(0, 0, 0, 0.6);
    line-height: 1.3;
    position: relative;
}
.gmText {
    color: rgba(98, 37, 209, 0.9);
    font-weight: 700;
    text-shadow: 2px 2px rgba(52, 56, 54, 0.3);
}
.gmName {
    color: rgba(98, 37, 209, 0.7);
    text-shadow: 2px 2px rgba(52, 56, 54, 0.3);
}
.manualMainGuide {
    padding-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 56px;
    color: rgba(236, 171, 48, 0.6);
    text-align: center;
}
.manualMainGuideBox {
    padding-top: 10%;
    padding-left: 30%;
}
.manualMainGuideHeader {
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Nunito', sans-serif;
    font-size: 72px;
    color: rgb(0, 0, 0, 0.6);
    text-shadow: 2px 2px rgba(52, 56, 54, 0.2);
    text-align: center;
    background-color: rgba(128, 187, 219, 0.7);
}
.us {
    text-shadow: 2px 2px rgba(98, 37, 209, 0.2);
}