@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

.DateSetupBox {
  width: 100%;
  height: 400px;
  background-color: red;
  z-index: 0;
  display: flex;
  justify-content: center;

}
.DateSetupBody {
  width: 700px;
  height: auto;
  background-color: aliceblue;
}